.Contacts img {
  width: 95%;
  padding-left: 25px;
}
.Contacts {
  background-color: rgba(0, 0, 0, 0.586);
  color: rgb(251, 249, 249);
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.contacts-item{
  display: grid;
  grid-template-areas:".contacts-item .contacts-a";
  padding-bottom: 30px;
}
.Contacts .container {
  margin: 0 auto;
}

.Contacts h1 {
  padding-left: 25px;
  text-align: center;
}
.contacts-a {
  padding-top: 15%;

}
.contacts-a2{
  width: 100%;
}
.contacts-a a {
  color: grey;
}
.contacts-a a:hover {
  color: rgb(214, 214, 214);
  transition: 0.3s;
}
.contacts-a2 a {
  color: grey;
  margin-left: 25%;
}
.contacts-a2 a:hover {
  color: rgb(218, 214, 214);
  transition: 0.3s;
}
.contacts-a2 dd{
  margin-left: 25%;
}
.Contacts h2 {
  padding-left: 25px;
}
.contacts-text ul li {
  list-style-type: none;
}
.contacts-text2 ul li {
  list-style-type: none;
}
.contacts-a2 {
  padding-top: 75px;
}
