.Delivery{
  background-color: rgba(0, 0, 0, 0.466);
  color: rgba(255, 255, 255, 0.804);
  margin-top: 60px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 20px;
  width: 90%;
  margin-bottom: 30px;
}
.Delivery .container {
  margin: 0 auto;
  margin: 20px 40px 20px 20px;
}
.Delivery h2{
  text-align: center;
}
.payment{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.721);
  margin: 0;
  padding: 0;
}
.payment img{
  width: 70px;
  padding-left: 50px;
  padding-top: 15px;
}