.CartList .CartItem {
  display: grid;
  align-items: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  font-weight: 600;
  margin-bottom: 25px;
  padding-top: 25px ;
  background-color: rgba(0, 0, 0, 0.43);
  color: white;
  grid-template-areas: ".Cart-image .product-name .product-counter span .btn-cart-remove";
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.CartList .CartItem .Cart-image img {
  height: 70px;
  width: 70px;
  margin-left: 10px;
}

.CartList .CartItem .name {
  color: #f5f4f4;
  padding-left: 70px;
  text-decoration: none;
  width: 100%;
}
.CartList {
  color: white;
  width: 100%;
}
.CartList .CartItem .product-name {
  width: 80%;
}

.product-block .Product-counter{
  margin-right: 30px;
}
.CartList .CartItem input {
  border: 1px solid #000;
  border-radius: 0;
  height: 20px;
  text-align: center;
  width: 20px;
}
.CartList .CartItem .product-name .product-block {
  align-items: center;
  margin-right: 30px;
  width: 100%;
}
.Product-counter {
  background-color: #dadada;
}

.btn-cart-remove {
  display: inline-block;
  padding: 3px 5px;
  font-size: 16px;
  width: 20%;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgb(251, 251, 254);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-cart-remove:hover {
  background-color: grey;
  transition: 0.3s;
}

.btn-cart-remove:active {
  background-color: #4da3cd;
  box-shadow: 0 3px #667c7e;
  transform: translateY(4px);
}
@media (max-width: 1100px) {
  .CartList .CartItem .Cart-image .product-name .product-block .product-counter .product-counter .btn-cart-remove{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
}

@media (max-width: 899px) {
  .CartList .CartItem {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .CartList .CartItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}