.CartList .CartItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  font-weight: 600;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.43);
  color: white;
}

.CartItem img {
  width: 10%;
  height: 10%;
} 
.Cart {
  color: white;
}
.CartList a{
  color:white;
  text-decoration:none ;
}
.CartList input{
  width: 25px;
}
.CartList output{
  background-color: rgba(0, 0, 0, 0.511);
}
.btn-cart-remove {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgb(251, 251, 254);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-cart-remove:hover {
  background-color: grey;
  transition: 0.3s;
}

.btn-cart-remove:active {
  background-color: #4da3cd;
  box-shadow: 0 3px #667c7e;
  transform: translateY(4px);
}