.Delivery{
  background-color: rgba(0, 0, 0, 0.466);
  color: rgba(255, 255, 255, 0.804);
  margin-top: 60px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 20px;
}
.payment{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.721);
  margin: 0;
  padding: 0;
}
.payment img{
  width: 70px;
  padding-left: 60px;
}