.Footer{
  background-color: rgba(0, 0, 0, 0.603);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-apps img{
  width: 30px;
}
.footer-nav ul li{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-nav a{
  text-decoration: none;
  color: white;
}
.NavFooter a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.347);
  border-radius: 5px;
  padding: 8px;
}
.footer-category a{
  text-decoration: none;
  color: white;

}
.footer-category ul li{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-category h4{
  color: white;
  padding: 0;
}