.Footer{
  background-color: rgba(0, 0, 0, 0.603);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-apps img{
  width: 30px;
  padding: 10px;
}
.footer-nav ul li{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-nav a{
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.NavFooter a:hover {
  color: grey;
}
.footer-category a{
  text-decoration: none;
  color: white;
  transition: 0.5s;

}
.footer-category ul li{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.Footer h2{
  color: white;
  padding: 0;
}
.footer-icon h1{
  color: white;
  padding-left: 35px;
}
.footer-category a:hover{
  color: rgba(128, 128, 128, 0.984);
}
.footer-logo img{
  margin-top: 50px;
}
.footer-apps img:hover{
  background-color: rgba(112, 109, 116, 0.521);
  border-radius: 10px;
} 