.CategoryList{
  background-color:#a39f9f;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}
.CategoryList ul{
  list-style-type: none;
  color: #222121;
}
.CategoryList ul li {
  text-align: start;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #fcfcfc;


}
.CategoryList a{
  color: #fcfdfd;
}

.CategoryList h1 {
  color: black;

  font-size: 18px;
  text-align: center;
}
.CategoryList a:hover {
  background-color: white;
}
.CategoryList img{
  width: 25%;
}