.CategoryList{
  display: flex;
  display: block;
  flex-wrap: wrap;
  margin-left: 16px;
}
.CategoryList ul{
  text-decoration: none;
  list-style-type: none;
  color: black;
}
.CategoryList ul li {
  text-align: start;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #060606;


}
.CategoryList a{
  color: #0a0a0a;
  text-decoration: none;
}

.CategoryList h1 {
  color: rgb(10, 10, 10);
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}
.CategoryList a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.347);
  border-radius: 5px;
  padding: 8px;
}
.CategoryList img{
  width: 25%;
}