.Nav .NavItem a {
  color: #3b3e40;
  text-decoration: none;


}
.Nav  ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 35px;
}
.Nav {
  background-color: #ffffff;
  font-family: "Roboto", "Arial","sans-serif";
}